body {
  background: #0d3d2f;
  background: -moz-linear-gradient(top, #0d3d2f 0%, #f43e15 100%);
  background: -webkit-linear-gradient(top, #0d3d2f 0%, #f43e15 100%);
  background: linear-gradient(to bottom, #0d3d2f 0%, #f43e15 100%);
}
.pic {
  background-color: #0d3d2f;
  border-radius: 180px;
  margin-top: 30px;
  width: 30%;
  height: 50%;
}
.layer {
  width: 30%;
  height: 50%;
}
.thirdlayer {
  background-color: #0d3d2f;
  border-radius: 180px;
  margin-top: 30px;
  width: 30%;
  height: 50%;
}

#top {
  font-size: 50px;
}
.thebox {
  background-color: #f1ecd5;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.block {
  background-color: #f1ecd5;
  border-radius: 15px;
}

.hungry {
  color: #f43e15;
}

.left {
  background-color: #0d3d2f;
  color: #f1ecd5;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 20px 20px 10px #f43e15;
}
.right {
  background-color: #0d3d2f;
  color: #f1ecd5;
  padding: 50px;
  border-radius: 8px;
  box-shadow: 20px 20px 10px #f43e15;
}
header {
  align-content: center;
  text-align: center;

  color: #f43e15;
  border-radius: 180px;
}
